@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
    font-weight:350;
    font-style:normal;
    font-display:swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Bold.ttf') format('truetype');
    font-weight:500;
    font-style:normal;
    font-display:swap;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border:0;
    outline: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
/*header css*/
body{
    width: 1800px;
}
.header{
    width:100%;
    display: flex;
    justify-content: space-between;
    padding:24px 210px 56px 210px;
}
.menu__list{
    display: flex;
    gap:25px;
}
.menu__item{
font:350 14px/24px "Roboto", sans-serif ;
    &:last-child{
        color: rgba(102, 102, 102, 1);
        opacity: 50%;
    }
}
.header__title{
    font:350 35px/1 'Roboto', sans-serif;
    margin-top: 32px;
}
.header__subtitle{
    font:350 16px/26px 'Roboto', sans-serif;
    width:100%;
    margin-top: 12px;
}

.two{
    display: flex;
    align-items: flex-end;
    gap:40px;
}

.two__icon, .two__num{
    font:500 16px/1 'Roboto', sans-serif;
}
.two__icon{
    display: flex;
width:223px;
    margin-left: 71px;
    &::before{
        content: '';
        width:18px;
        height:18px;
        background:center/cover url('./img/icon-1.png') no-repeat;
        top:50%;
    }
}
.two__num{
display: flex;
    margin-left: 71px;
    &::before{
        content: '';
        width:20px;
        height:20px;
        background:center/cover url('./img/tree.png') no-repeat;
        top:50%;
    }
}

/*section css*/
.section{
    display: flex;
    padding:99px 210px 0 210px;
}

.section__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:75px;
}
.section__item{
    display: flex;
    flex-direction: column;
    align-items: center;;
}
.section__image{
    width: 100%; /* Responsive width */
    max-width: 410px; /* Max width */
}
.section__image-1{
    width:86px;
}
.section__title{
    font:500 16px/26px "Roboto", sans-serif ;
    text-align: center;
    width: 346px;
    margin-top: 8px;
}

.section__image-2{
    width:109px;
    margin-top: 14px;
}
.section__sum {
    font:350 16px/24px "Roboto", sans-serif ;
    margin-top: 14px;
    margin-right: 8px;

    &:last-child {
        text-decoration-line: line-through;
        opacity: 50%;
    }
}
.section__btn{
    display: flex;
    margin-top: 24px;
    font:500 14px/1px "Roboto", sans-serif ;
    border:1px solid rgba(15, 33, 58, 1);
    height: 56px;
    width: 100%;
    max-width: 248px;
    justify-content: center;
    align-items: center;
    text-transform:uppercase;
}
@media (max-width: 768px) {
    .header {
        width: 100%;
        padding:24px 30px 88px 30px;
    }
    .header__subtitle{
        width:708px;
    }

    .section{
        display: flex;
        padding: 0 30px;
    }
    .section__list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 708px;
        gap:24px;
    }
    .section__image{
        width: 220px;
    }
    .section__title{
        width: 220px;
    }
    .section__btn{
        width: 220px;
    }
}
@media (max-width: 375px) {
    .header {
        width: 100%;
        padding:10px 10px 32px 10px;
    }
    .header__subtitle{
        width:355px;
    }
    .section{
        display: flex;
        padding: 0 10px;
    }
    .section__list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 359px;
        gap:10px;
    }
    .section__image{
        width: 174.5px;
    }
    .section__title{
        width: 174.5px;
    }
    .section__btn{
        width: 174.5px;
    }
}
